<% extend('../layout') %>
<div id="blog_search" class="row p-3 pt-2 pb-2 gx-0">
    <%- include('../blog_partials/search') %>
</div>

<div id="articles" class="row textbox mb-4 p-3 pt-2 pb-2 gx-0" style="background: #302020;">
    <%- include("../blog_partials/articles_cards") %>
</div>

<script src='js/bundle.min.js'></script>
<script>
    let mySkills = [{"label":'tag', "value":'TAG'},{"label":'tag2', "value":'TAG2'},{"label":'tag3', "value":'TAG3'}];
    const autoComplete = new SelectPure(".search", {
        options: mySkills,
        placeholder:"Click to search articles by tags",
        multiple: true,
        icon: "fa fa-times",
        autocomplete: true,
        onChange: value => { get_tags(value); },
    });
    console.log(autoComplete);
</script>
<script src='js/article_search.js'></script>