<h2 class="text-center">Education</h2> <hr />
<div class="mb-4">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 24rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Lake Land College</h5>
                    <img class="mx-auto d-block" src="img/coll.png" />
                    <p class="card-text text-center mb-0">Mattoon, IL</p>
                    <p class="card-text text-center mb-0">AAS in IT - Programming</p>
                    <p class="card-text text-center mb-0">Grad 2015 - 3.2 GPA</p>
                </div>
            </div>
        </div>
        <div class="col" style="max-width: 24rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">University of Illinois</h5>
                    <img class="mx-auto d-block" src="img/univ.png" />
                    <p class="card-text text-center mb-0">Springfield, IL</p>
                    <p class="card-text text-center mb-0">BS in Computer Science</p>
                    <p class="card-text text-center mb-0">Grad 2022 - 4.0 GPA</p>
                </div>
            </div>
        </div>
    </div>
</div>