<%
    var categories = new Array()
    skills.forEach(skill => {
        if (!categories.includes(skill.type)) {
            categories.push(skill.type)
        }
    })
%>

<% categories.forEach(category => { %>
    <%
        var _skills = new Array()
        skills.forEach(skill => {
            if (skill.type == category) {
                _skills.push(skill)
            }
        })
    %>

    <h2 class="text-center"><%= category %></h2> <hr />
    <div class="row justify-content-center mb-4">
            <% _skills.forEach(skill => { %>
                <div style="max-width: 8rem;">
                    <div class="card skill-card" >
                        <div class="card-body d-flex align-items-center">
                            <img class="card-img-top skill-card-img" src=<%= skill.logo %> title="<%= skill.name %>" alt="<%= skill.name %>">
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
<% }) %>