<div id="about" class="dialog-box">
    <div>
        <h1 class="dialog-box-header">
            <img src="img/av_about.png" class="text-center" />
            Who?
        </h1>
    </div>
    <hr>
    <div class="dialog-box-body">
        <img class="img-thumbnail mx-auto d-block" src="img/portrait.png" />
        <p>I’m a computer programmer located in Indiana. My biggest passion lies in videogames but I have worked on
            Android apps, websites, Windows Forms apps, and open-source software. Computers have the awesome ability to
            greatly improve the life quality of those that use them. They can perform a seemingly unlimited amount of
            tasks from helping you sort out your budget to making you empathize with an array of pixels. I consider it a
            privilege to posess these skills.</p>

        <p>Outside of my home office: I cook (Indian cuisine is my favorite!), make pixel art, and pick up new hobbies
            all the time.</p>

        <p>Some of my all-time favorite games are <i>Super Mario RPG</i>, <i>EarthBound</i>, and <i>Chrono
                Trigger</i>.</p>

        <p>I’m interested in working on ambitious projects with positive people and I’m always excited to learn
            something new.</p>
    </div>
</div>