<% extend('layout') %>

    <div id="blog" class="dialog-box">
        <div>
            <h1 class="dialog-box-header">
                <img src="img/av_blog.png" />
                Hello Blog
            </h1>
        </div>
        <hr>
        <div id="articles" class="dialog-box-body row justify-content-center">
            <%- include("partials/articles_cards") %>
        </div>
    
    </div>