<div id="contact" class="mb-5 mt-5">
    <div class="textbox bg-secondary mb-4">
        <h1 class="mb-4">
            <img src="img/av_contact.png" class="text-center" />
            * Contact Me
        </h1>
    </div>

    <div class="textbox bg-secondary mb-4">
        <p>* I'm interested in freelance work opportunities, fan projects, pitches, and job offers!</p>
        <h5 class="text-center mb-4">Feel free to reach out!</h5>
        <form id="mailMe" action="/send" method="post">
            <div class="form-group mb-4">
                <input id="senderName" class="form-control" placeholder="Your full name" required />
                <input id="emailAddress" type="email" class="form-control" placeholder="Your email address" required />
                <input id="subjectLine" class="form-control" placeholder="Subject line" required />
            </div>
            
            <div class="form-group mb-4">
                <textarea id="emailBody" class="form-control" rows="5" placeholder="Your message" required></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary mx-auto d-block">Send</button>
        </form>
    </div>
</div>