<div id="contact" class="mb-5 mt-5">
    <div class="textbox bg-secondary mb-4">
        <h1 class="mb-4">
            <img src="img/av_contact.png" class="text-center" />
            * Contact Me
        </h1>
    </div>

    <div class="textbox bg-secondary mb-4">
        <p>* I'm interested in freelance work opportunities, fan projects, pitches, and job offers!</p>
        <h5 class="text-center mb-4">Feel free to reach out!</h5>
        <form id="frm-mailme">

            <div class="form-group mb-4">
                <label for="exampleInputEmail1">Email address</label>
                <input id="txt-email-address" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required />
            </div>
            
            <div class="form-group mb-4">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea id="txt-email-body" class="form-control" rows="5" required></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary mx-auto d-block">Send</button>
        </form>
    </div>
</div>