<div id="introduction">
    <div>
        <h1 class="mb-4">
            <img src="img/av_day1.png" />
            * "Yo! I'm Josh."
        </h1>
        <i>* Video Game Developer / Player, Freelance Programmer, Tinkerer</i>
    </div>

    <div>
        <p>* Welcome to my website.</p>
        <p>* Everything here was built from scratch using a combination of <code>Node.js</code> and many other technologies.</p>
        <p>* In fact, you can read the source code <a href="https://github.com/jbeslinger/new-portfolio-website">here</a> if you're bored!</p>
        <p>* There's a lot to see, so take a look around!</p>
    </div>
</div>