<div id="home" class="dialog-box">
    <h1 class="dialog-box-header">
        <img id="my-avatar" src="img/av_day1.png" />
        * "Yo! I'm Josh."
    </h1>
    <hr>
    <div class="dialog-box-body">
        <p>* I'm a Video Game Developer / Player, Freelance Programmer, and Tinkerer</p>

        <p>* Welcome to my website.</p>

        <p>* Everything here was built from scratch using a combination of
            <a href="https://nodejs.org/en/" target="_blank">Node.js</a>,
            <a href="https://expressjs.com/" target="_blank">Express</a>,
            and <a href="https://mongoosejs.com/" target="_blank">Mongoose</a>.
        </p>

        <p>* In fact, you can read the source code <a href="https://github.com/jbeslinger/new-portfolio-website"
                target="_blank">here</a> if you're bored!</p>

        <p>* There's a lot to see, so take a look around!</p>
    </div>
</div>