<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        
        <%- content %>
    </div>
    <%- include('partials/footer') %>
    <div class="m-5"></div>
</body>
</html>