<div id="portfolio">
    <div>
        <h1 class="mb-4">
            <img src="img/av_works.png" />
            * Personal Work
        </h1>
    </div>

    <%- include("partials/portfolio_cards") %>
</div>