<div id="portfolio" class="mb-5 mt-5">
    <div class="textbox bg-secondary mb-4">
        <h1 class="mb-4">
            <img src="img/av_works.png" />
            * Personal Work
        </h1>
    </div>

    <div id="portfolio" class="textbox bg-secondary mb-4">
        <b class="bg-white text-danger">This is where the portfolio items will be rendered.</b>
    </div>
</div>