<!-- Todo: pull out inline css. -->
<div id="portfolio" class="mb-5 mt-5">
    <div class="textbox mb-4" style="background: #302020; color:white">
        <h1 class="mb-4">
            <img src="img/av_works.png" />
            * Personal Work
        </h1>
    </div>

    <div id="portfolio" class="row textbox mb-4 p-3 pt-2 pb-2 gx-0" style="background: #302020;">
        <%- include("partials/portfolio_cards") %>
    </div>
</div>