<div id="portfolio" class="dialog-box">
    <h1 class="dialog-box-header">
        <img src="img/av_works.png" />
        Personal Work
    </h1>
    <hr>
    <div class="dialog-box-body">
        <%- include("partials/portfolio_cards") %>
    </div>
</div>