<div id="skills" class="dialog-box">
    <div>
        <h1 class="dialog-box-header">
            <img src="img/av_skills.png" />
            Skills and Education
        </h1>
    </div>
    <div class="dialog-box-body">
        <%- include("partials/skill_cards") %>
            <%- include("partials/education") %>
    </div>

</div>