<div id="skills">
    <div>
        <h1 class="mb-4">
            <img src="img/av_skills.png" />
            * Skills and Education
        </h1>
    </div>

    <div>
        <%- include("partials/skill_cards") %>
        <%- include("partials/education") %>
    </div>
    
</div>